{% extends 'listas/base.html' %}
{% load staticfiles %}
{% block content %}
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row pl-2">
        <h4 class="m-0 font-weight-bold text-success">
          {{ user }}, estos son tus libros para leer:
        </h4>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Título</th>
              <th>Autor</th>
              <th>Año</th>
              <th>País</th>
              <th>Idioma</th>
              <th>Borrar</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Título</th>
              <th>Autor</th>
              <th>Año</th>
              <th>País</th>
              <th>Idioma</th>
              <th>Borrar</th>
            </tr>
          </tfoot>
          <tbody>
  <!-- List -->
          {% if user_list %}
            {% for book in user_list.books %}
              <tr>
                <td>
                  {% if book.name %}
                    {{ book.name }}
                  {% endif %}
                </td>
                <td>
                  {% if book.author %}
                    {{ book.author }}
                  {% endif %}
                </td>
                <td>
                  {% if book.year %}
                    {{ book.year }}
                  {% endif %}
                </td>
                <td>

                </td>
                <td>
                  {% if book.language  %}
                    {{ book.language }}
                  {% endif %}
                </td>
                <td>
                  <a href="/add_book/{{ book.id }}/{{ list.id }}">
                    <i class="fas fa-minus-square fa-2x pr-2"> </i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
